<% content_for(:title, t('.title')) %>
<div class="mx-7 md:mx-14 py-10">    
  <h1 class="text-center text-xl md:text-3xl font-bold mb-6 border-b border-gray-500">プライバシーポリシー</h1>
  <div class="space-y-6 text-sm md:text-base">
    <div>
    <p>虚構映画（以下、「当方」といいます。）は，本ウェブサイト上で提供するサービスにおける、お客様の個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第1条（個人情報）</p>
      <p>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，特定の個人を識別できる情報（個人識別情報）を指します。</p>

    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第2条（個人情報の収集方法）</p>
      <p>当方は、ユーザーが利用登録をする際に、メールアドレスを取得します。</p>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第3条（個人情報を収集・利用する目的）</p>
      <p>当社が個人情報を収集・利用する目的は，以下のとおりです。</p>
      <ol class="list-decimal pl-6">
        <li>当社サービスの提供・運営のため</li>
        <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
        <li>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
        <li>ユーザーにご自身の登録情報の閲覧や変更を行っていただくため</li>
        <li>上記の利用目的に付随する目的</li>
      </ol>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第4条（利用目的の変更）</p>
      <ol class="list-decimal pl-6">
        <li>当社は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。
        <li>利用目的の変更を行った場合には，変更後の目的について，当社所定の方法により，ユーザーに通知し，または本ウェブサイト上に公表するものとします。</li>
      </ol>
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第5条（個人情報の第三者提供）</p>
      <p>当方は，あらかじめユーザーの同意を得ることなく，第三者に個人情報を提供することはありません。ただし，個人情報保護法その他の法令で認められる場合を除きます。</p>
      
    </div>
    <div>
      <p class="font-bold text-lg md:text-xl">第6条（プライバシーポリシーの変更）</p>
      <ol class="list-decimal pl-6">
        <li>本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</li>
        <li>当方が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
      </ol>
    </div>
    <div>
      <p>2023年12月11日 制定</p>
    </div>
  </div>
</div>