<!-- form - start -->
<%= form_with(model: [review, comment], url: movie_review_comments_path(movie, review), local: true, html: { class: "mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2" }) do |f| %>

  <div class="sm:col-span-2">
    <%= f.text_area :content, class: "h-64 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <div class="flex items-center justify-between sm:col-span-2">
    <%= f.submit class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
  </div>
<% end %>