<!-- form - start -->
<%= form_with(model: movie, local: true, heml: { class: "mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2" }) do |f| %>
  <div>
    <label for="title" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">タイトル</label>
    <input name="title" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
  </div>

  <div>
    <label for="screening_time" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">上映時間</label>
    <input name="screening_time" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
  </div>

  <div class="sm:col-span-2">
    <label for="synopsis" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">あらすじ</label>
    <textarea name="synopsis" class="h-64 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring"></textarea>
  </div>

  <div class="sm:col-span-2">
    <label for="thumbnail" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">サムネイル</label>
    <input name="thumnbnail" class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
  </div>

  <div class="flex items-center justify-between sm:col-span-2">
    <button class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Send</button>
  </div>
<% end %>
<!-- form - end -->