<div class="mb-10 md:mb-16 mt-4">
  <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"><%= current_user.name %>さんのマイページ</h2>
</div>

<div class="mt-4">
  <%= render 'shared/menubar' %>
</div>