<aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
   <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
         <li>
            <span class="ml-3 font-bold"><%= current_user.name %>さんのマイページ</span>
         </li>
         <li>
            <span class="flex-1 ml-3 whitespace-nowrap"><%= link_to t('defaults.bookmarks_movies'), bookmarks_movies_path %></span>
         </li>
         <li>
            <span class="flex-1 ml-3 whitespace-nowrap"><%= link_to t('defaults.reviewed_movies'), my_reviews_movies_movies_path %></span>
         </li>
         <li>
            <span class="flex-1 ml-3 whitespace-nowrap"><%= link_to t('defaults.profile_edit'), edit_users_path %></span>
         </li>
      </ul>
   </div>
</aside>