<!-- review - start -->
<div class="flex flex-col gap-3 rounded-lg border p-4 md:p-6">
  <div>
    <span class="block text-sm font-bold md:text-base"><%= review.user.name %>  さんのレビュー</span>
    <span class="block text-sm text-gray-500"><%= review.created_at %></span>
    <% if review.contains_spoiler? %>
      <p class="text-xl font-bold"><%= link_to '※このレビューはネタバレを含みます', '#' %></p>
    <% else %>
      <p class="text-gray-600"><%= review.content %></p>
    <% end %>
  </div>
</div>
<!-- review - end -->